{% extends 'base.html' %}
        <!-- sidenav  -->
        {% block sidenav %}
        <nav id="sidebar">
          <div class="pl-4 pt-1">
            <a href="#" class="img logo rounded-circle mb-2" style="background-image: url(/static/images/logo.png);"></a>
            <ul class="list-unstyled components mb-2">
              <li class="active">
                  <a href="#">Central Province</a>
              </li>
              <li>
                  <a href="{% url 'chibombocovid' %}">Chibombo</a>
              </li>
              <li>
                  <a href="#">Chisamba</a>
              </li>
              <li>
                  <a href="#">Chitambo</a>
              </li>
              <li>
                  <a href="#">Itezhi-tezhi</a>
              </li>
              <li>
                  <a href="#">Kabwe</a>
              </li>
              <li>
                <a href="#">Kapiri Mposhi</a>
              </li>
              <li>
                <a href="#">Luano</a>
              </li>
              <li>
                <a href="#">Mkushi</a>
              </li>
              <li>
                <a href="#">Mumbwa</a>
              </li>
              <li>
                <a href="#">Ngabwe</a>
              </li>
              <li>
                <a href="#">Serenje</a>
              </li>
              </ul>
          </div>
        </nav>
        {% endblock sidenav %}

        <!-- Page Content  -->
        {% block page_content %}
        <div class="px-4 px-md-5 ">
          
          <h2 class="mb-4  text-left">Overall Zambia Covid-19 Data Dashboard</h2>
          <p  style="color: rgb(196, 48, 48); font-weight: bold">In Zambia, from 3 January 2020 to 6:10pm CET, 22 November 2021, there have been 210,070 confirmed cases of COVID-19 with 3,667 deaths, reported to WHO. As of 17 November 2021, a total of 985,443 vaccine doses have been administered.</p>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
          <div class="card my-5" style="width: 18rem;">
            <div class="card-content p-3">
              <h2> 210,070 </h2>
              <h3> confirmed cases </h1>
            </div>
          </div>
          <div class="card my-5" style="width: 18rem;">
            <div class="card-content p-3">
              <h2> 3,667 </h2>
              <h3> deaths </h1>
            </div>
          </div>
        </div>
        {% endblock page_content %}