                    <!-- <tbody>
                        <tr>
                            <td>Central</th>
                            <td>Chibombo</td>
                            <td>Mwanjuni Health Post</td>
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Chibombo</td>
                            <td>Mwachisompola Hospital</td>
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Chibombo</td>
                            <td>Chibombo Health Care Center</td>
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Chisamba</td>
                            <td>Litata District Hospital</td>
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Chisamba</td>
                            <td>Chibombo Rurs</td>
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Chisamba</td>
                            <td>Chitambo District Hospital</td> 
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Itezhi Tezhi</td>
                            <td>Itezhi Tezhi District Hospital</td>
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Itezhi Tezhi</td>
                            <td>Masemo Rural Health Care Centre</td>
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Kabwe</td>
                            <td>Kabwe Women Newborn and Children's Hospital</td>
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Kabwe</td>
                            <td>Mahatma Ghandi Clinic</td>
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Kabwe</td>
                            <td>Ngungu Health Centre</td>
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Kapiri Mposhi</td>
                            <td>Kapiri Urban Clinic</td> 
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Kapiri Mposhi</td>
                            <td>Kapiri District Hospital</td> 
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Luano</td>
                            <td>Masansa Mini Hospital</td>
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Luano</td>
                            <td>Old Mkushi Rural Centre</td>
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Mkushi</td>
                            <td>Mkushi District Hospital</td>
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Mkushi</td>
                            <td>Chibefwe Rural Health Centre</td>
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Mumbwa</td>
                            <td>Mumbwa District Hospital</td>
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Mumbwa</td>
                            <td>Nangoma Mission Hospital</td>
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Ngabwe</td>
                            <td>Mumbachala Rural Health centre</td>
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Serenje</td>
                            <td>Serenje District Hospital</td>
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Serenje</td>
                            <td>Serenje Urban Clinic</td>
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Shibuyuni</td>
                            <td>Nampundwe Health Centre</td>
                          </tr>
                          <tr>
                            <td>Central</th>
                            <td>Shibuyuni</td>
                            <td>Mwembezhi Rural Health Centre</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Chililabombwe</td>
                            <td>Kakoso level one hospital</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Chililabombwe</td>
                            <td>Lubengele Health Centre</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Chililabombwe</td>
                            <td>Konkola Mine Hospital</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Chingola</td>
                            <td>Chawama Health Centre</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Chingola</td>
                            <td>Nchanga North General Hospital</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Kalulushi</td>
                            <td>Kalulushi General Hospital</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Kalulushi</td>
                            <td>Kalulushi Government Clinic</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Kalulushi</td>
                            <td>Chambishi Clinic</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Kitwe</td>
                            <td>Kitwe teaching Hospital</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Kitwe</td>
                            <td>Wusakile Mine Hospital</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Kitwe</td>
                            <td>Progress Hospital</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Kitwe</td>
                            <td>Sinozam Hospital</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Kitwe</td>
                            <td>Buchi Clinic</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Luanshya</td>
                            <td>Roan Antelope General Hospital</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Luanshya</td>
                            <td>Thomson Distict Hospital</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Luanshya</td>
                            <td>Luanshya mine Hospital</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Lufwanyama</td>
                            <td>Lufwanyama District Hospital</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Lufwanyama</td>
                            <td>Nkana Clinic</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Lufwanyama</td>
                            <td>St Josephs Health Centre</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Lufwanyama</td>
                            <td>St Marys Health Centre</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Masaiti</td>
                            <td>Masaiti District Hospital</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Masaiti</td>
                            <td>Masaiti Boma clinic</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Masaiti</td>
                            <td>Njelemani Health Centre</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Mpongwe</td>
                            <td>Mpongwe Mission Hospital</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Mpongwe</td>
                            <td>St Theresa Mission Hospital</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Mpongwe</td>
                            <td>Machiya Rural Health Centre</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Mpongwe</td>
                            <td>Kalweo</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Mufurila</td>
                            <td>Ronald Ross General Hospital</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Mufurila</td>
                            <td>Kamuchanga Distric Hospital</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Mufurila</td>
                            <td>Malcom Watson Hospital</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Ndola</td>
                            <td>Ndola Teaching Hospital</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Ndola</td>
                            <td>Authur Davison Childrens Hospital</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Ndola</td>
                            <td>St Dominics District Hospital</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Ndola</td>
                            <td>Chipokota Mayamba</td>
                          </tr>
                          <tr>
                            <td>Copperbelt</th>
                            <td>Ndola</td>
                            <td>New Masala Health Centre</td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Eastern</th>
                            <td></td>
                            <td></td>
                          </tr>

                    </tbody> -->